<form class="{{cssClass}} {{item.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <div class="header-fields">
      <h1 class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="Nome da Armadura"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Descrição</a>
    <a class="item" data-tab="details">Detalhes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <div class="form-group">
        <label>Descrição</label>
        <div class="form-fields">
          {{editor system.descricao target="system.descricao" button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>

    {{!-- Details Tab --}}
    <div class="tab" data-group="primary" data-tab="details">
      <div class="form-group">
        <label>Tipo de Armadura</label>
        <select name="system.tipo">
          {{#each tiposArmadura as |tipo key|}}
          <option value="{{key}}" {{#if (eq ../system.tipo key)}}selected{{/if}}>{{tipo}}</option>
          {{/each}}
        </select>
      </div>

      <div class="form-group">
        <label>Bônus de Defesa</label>
        <input type="number" name="system.defesa" value="{{system.defesa}}" min="0" max="10"/>
      </div>

      <div class="form-group">
        <label>Penalidade de Ação</label>
        <input type="number" name="system.penalidade" value="{{system.penalidade}}" min="0" max="5"/>
      </div>

      <div class="form-group">
        <label>Preço (MP)</label>
        <input type="number" name="system.preco" value="{{system.preco}}" min="0"/>
      </div>

      <div class="form-group">
        <label>Peso</label>
        <input type="number" name="system.peso" value="{{system.peso}}" min="0" step="0.1"/>
      </div>
    </div>

  </section>
</form>